<h2><%= currentUser.name %>'s Profile</h2>


<form action= "/music/list" method="post">
    <label for="mood">Mood
        <select name="mood">
            <% moods.forEach((mood) => { %>
                <option value="<%= mood %>"><%= mood %></option>
            <% }) %>
        </select>
    </label> 

    <label for="genre">Genre
        <select name="genre">
            <% genres.forEach((genre) => { %>
                <option value="<%= genre %>"><%= genre %></option>
            <% }) %>
        </select>
    </label>

    <button type="submit">Choose</buton>

</form> 

